aside.open{
  display: flex!important;
  transform: translateX(-4.2%)!important;
  transition: .3s!important;
  width: 100%!important;
}

aside#mobile-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background-color: white;
  transform: translateX(-110%); /*Сдвиг влево на 100%*/
  transition: .3s;
  position: fixed;
  padding: 0 19px 19px 19px;
  section#header{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    .icon{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: inherit;
      height: 53px;
      img{
        width: 79px;
      }
      .empty{
        width: 18px;
        height: 15px;
      }
      button.burger-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 18px;
        height: 15px;
        background-color: white;
        div{
          width: inherit;
          height: 2.85px;
          background-color: black;
          border-radius: 50px;
        }
      }
    }
    .search{
      width: 100%;
      height: 26px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 4px 9px;
      img{
        width: 18px;
        height: 18px;
      }
    }
  }
  section.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 210px;
    margin-bottom: 230px;
    a{
      color: black;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    hr{
      width: 100%;
      height: 1px;
      background-color: black;
    }
  }
  section#we{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 131px;
    height: 100px;
    margin-bottom: 150px;
    .social-network{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 109px;
      height: 24px;

      a{
        width: 24px;
        height: inherit;
        img{
          width: inherit;
          height: inherit;
        }
      }
    }
    a.delivery{
      display: block;
      color: black;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    a.phone-number{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: black;
      width: 140px;
      height: 25px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      img{
        width: 25px;
      }
    }
  }
}

@media screen and (min-width: 768px){
  aside#mobile-menu{
    padding: 25px 50px 30px 50px;
    section#header{
      height: 100px;
      .icon{
        img{
          width: auto;
          height: 45px;
        }
      }
      .empty{
        width: 18px;
        height: 15px;
      }
      button.burger-menu{
        width: 24px!important;
        height: 21px!important;
        div{
          width: inherit!important;
          height: 3px!important;
        }
      }
    }
    section.menu{
      height: 260px;
      margin-bottom: 160px;
      a{
        font-size: 17px;
      }
    }
    section#we{
      width: 170px;
      height: 120px;
      margin-bottom: 150px;
      a{
        //width: 170px;
      }
      .social-network{
        width: 145px;
        height: 30px;

        a{
          width: 30px;
        }
      }
      a.delivery{
        font-size: 17px;
      }
      a.phone-number{
        width: 170px;
        height: 25px;
        font-size: 17px;
        img{
          width: 25px;
        }
      }
    }
  }
  //aside#open{
  //  transform: translateX(100%)!important;
  //}
}

@media screen and (min-width: 992px){
  aside#mobile-menu{
    display: none!important;
  }
  aside#open{
    display: none!important;
  }
}

