section#we-offer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 824px;
  margin-top: 15px;

  .container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
      font-family: 'El Messiri';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: black;
    }

    .card{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: inherit;
      background-color: black;
      border-radius: 10px;
      overflow: hidden;
      //z-index: -1000000;
      img{
        //width: 339px;
        width: inherit;
        border-radius: 0 0 10px 10px;
        object-fit: cover;
        //z-index: -1000000;
      }
      .text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 0 0 10px 10px;
        width: inherit;
        height: 38px;
        p{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
    .sushimaki{
      height: 157px;
      img{
        height: 119px;
      }

    }
    .sushiset{
      height: 203px;
      img{
        height: 165px;
      }
    }
    .nigiri{
      height: 396px;
      img{
        height: 357px;
      }
    }
  }
}