@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap);
@import url(https://fonts.googleapis.com/css2?family=El+Messiri&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  width: 100%;
  height: 53px;
}
header section#icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: inherit;
}
header section#icon img {
  width: 79px;
}
header section#icon .empty {
  width: 18px;
  height: 15px;
}
header section#icon button.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18px;
  height: 15px;
  background-color: white;
}
header section#icon button.burger-menu div {
  width: inherit;
  height: 2.85px;
  background-color: black;
  border-radius: 50px;
}
header section#icon .search {
  display: none;
}
header section#icon .social-network {
  display: none;
}
header section#icon a.delivery {
  display: none;
}
header section#icon a.phone-number {
  display: none;
}
header section#icon .classes {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 100px;
  }
  header section#icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
  }
  header section#icon img {
    width: auto;
    height: 45px;
  }
  header section#icon .empty {
    width: 18px;
    height: 15px;
  }
  header section#icon button.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 21px;
  }
  header section#icon button.burger-menu div {
    width: inherit;
    height: 3px;
    background-color: black;
    border-radius: 50px;
  }
}
@media screen and (min-width: 992px) {
  header {
    width: 100%;
    height: 147px;
    padding: 0 50px;
  }
  header section#icon {
    display: grid;
    grid-template: 70px 62px/1fr 2fr 2fr 2fr 1fr;
    gap: 10px;
    width: 100%;
    height: inherit;
  }
  header section#icon img {
    height: 38px;
  }
  header section#icon .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 28px;
    background-color: #F2F2F2;
    border-radius: 20px;
    overflow: hidden;
    padding: 7px 12px;
  }
  header section#icon .search img {
    width: 15px;
    height: 15px;
    margin-right: 12px;
  }
  header section#icon .search input {
    width: 100%;
    height: 100%;
    background-color: inherit;
    font-family: "El Messiri";
  }
  header section#icon .social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 148px;
    height: 35px;
  }
  header section#icon .social-network a {
    width: 30px;
    height: 30px;
  }
  header section#icon .social-network a img {
    width: inherit;
    height: inherit;
  }
  header section#icon a.delivery {
    display: block;
    color: black;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    grid-column: 4/5;
  }
  header section#icon a.phone-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 156px;
    height: 25px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  header section#icon a.phone-number img {
    width: 25px;
  }
  header section#icon .classes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    grid-column: 1/6;
  }
  header section#icon .classes a {
    color: black;
  }
  header section#icon .classes a:hover {
    text-decoration: underline;
  }
  header section#icon .empty {
    display: none;
  }
  header section#icon button.burger-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 147px;
    padding: 0 50px;
  }
  header section#icon {
    grid-template: 70px 62px/2fr 5fr 3fr 3fr 2fr;
  }
  header section#icon .search {
    width: 323px;
  }
}
section#main-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: black;
  position: relative;
  overflow: hidden;
  padding: 62px 0 16px 0;
}
section#main-banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
section#main-banner .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section#main-banner .container h1 {
  font-family: "Marcellus SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
section#main-banner .container p {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
section#main-banner .container button {
  width: 104px;
  height: 27px;
  background: #E11514;
  border-radius: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: white;
}

@media screen and (min-width: 768px) {
  section#main-banner {
    height: 300px;
    padding: 100px 0 40px 0;
    border-radius: 15px;
  }
  section#main-banner .container h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }
  section#main-banner .container p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  section#main-banner .container button {
    width: 170px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
  }
}
@media screen and (min-width: 992px) {
  section#main-banner {
    height: 516px;
    padding: 190px 0 100px 0;
  }
  section#main-banner .container h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
  }
  section#main-banner .container p {
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
  }
  section#main-banner .container button {
    width: 218px;
    height: 68px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}
section#main-popular-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 190px;
  margin-top: 15px;
  color: black;
  font-family: "El Messiri";
}
section#main-popular-categories .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 137px;
  gap: 10px;
}
section#main-popular-categories .cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28px;
}
section#main-popular-categories .cards .card {
  display: flex;
  width: 100%;
  max-width: 107px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background-color: black;
  border-radius: 10px;
  color: white;
  overflow: hidden;
}
section#main-popular-categories .cards .card img {
  border-radius: 10px;
  width: inherit;
  height: 109px;
  object-fit: cover;
}
section#main-popular-categories .cards .mw576 {
  display: none;
}
section#main-popular-categories .cards .mw768 {
  display: none;
}
section#main-popular-categories .points {
  display: flex;
  justify-content: space-between;
  width: 43px;
  height: 11px;
}
section#main-popular-categories .points .point {
  width: 11px;
  height: 11px;
  border-radius: 50px;
  border: 1.2px solid black;
  cursor: pointer;
}
section#main-popular-categories .points .passive {
  background-color: black;
}

@media screen and (min-width: 576px) {
  section#main-popular-categories .cards .mw576 {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  section#main-popular-categories .cards .mw768 {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  section#main-popular-categories {
    height: 490px;
    font-family: "El Messiri";
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    margin-top: 80px;
  }
  section#main-popular-categories .cards {
    height: 341px;
    gap: 20px;
  }
  section#main-popular-categories .cards .card {
    max-width: 236px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-radius: 15px;
  }
  section#main-popular-categories .cards .card img {
    border-radius: 15px;
    width: inherit;
    height: 270px;
    object-fit: cover;
  }
  section#main-popular-categories .cards div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 71px;
  }
  section#main-popular-categories .cards .mw576 {
    display: block;
  }
  section#main-popular-categories .points {
    display: none;
  }
}
section#we-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 824px;
  margin-top: 15px;
}
section#we-offer h1 {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
}
section#we-offer .container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section#we-offer .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}
section#we-offer .container .card img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  object-fit: cover;
}
section#we-offer .container .card .text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0 0 10px 10px;
  width: inherit;
  height: 38px;
}
section#we-offer .container .card .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
section#we-offer .container .sushimaki {
  height: 157px;
}
section#we-offer .container .sushimaki img {
  height: 119px;
}
section#we-offer .container .sushiset {
  height: 203px;
}
section#we-offer .container .sushiset img {
  height: 165px;
}
section#we-offer .container .nigiri {
  height: 396px;
}
section#we-offer .container .nigiri img {
  height: 357px;
}

@media screen and (min-width: 768px) {
  section#we-offer {
    height: 930px;
    margin-top: 65px;
  }
  section#we-offer h1 {
    font-family: "El Messiri";
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    color: black;
  }
  section#we-offer .container {
    width: inherit;
    max-height: 779px;
    display: grid;
    grid-template: 313px 406px/1fr 1fr;
    gap: 60px;
  }
  section#we-offer .container .card {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  section#we-offer .container .card img {
    width: inherit;
    border-radius: 0 0 15px 15px;
    object-fit: cover;
  }
  section#we-offer .container .card .text {
    height: 75px;
    min-height: 75px;
    position: static;
  }
  section#we-offer .container .card .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  section#we-offer .container .sushimaki {
    width: 100%;
    height: auto;
    display: grid;
    grid-template: 1fr 75px/1fr;
    min-height: 312px;
  }
  section#we-offer .container .sushimaki img {
    height: auto;
    min-height: 237px;
    max-height: 237px;
  }
  section#we-offer .container .sushiset {
    display: grid;
    grid-template: 1fr 75px/1fr;
    height: 100%;
    width: 100%;
  }
  section#we-offer .container .sushiset img {
    width: 100%;
    height: 100%;
    min-height: 331px;
    max-height: 331px;
  }
  section#we-offer .container .nigiri {
    display: grid;
    grid-row: 1/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    grid-template: 1fr 75px/1fr;
  }
  section#we-offer .container .nigiri img {
    width: 100%;
    height: 100%;
    min-height: 703px;
    max-height: 703px;
  }
}
section#reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 240px;
  margin-top: 14px;
}
section#reviews h1 {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
}
section#reviews .container {
  align-items: center;
  width: inherit;
  height: 135px;
}
section#reviews .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: black;
  border-radius: 10px;
}
section#reviews .container .card .review {
  width: inherit;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 11px 30px;
}
section#reviews .container .card .review p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
section#reviews .container .card .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: inherit;
  height: 30px;
}
section#reviews .container .mw576 {
  display: none;
}
section#reviews .container .mw768 {
  display: none;
}
section#reviews .points {
  display: flex;
  justify-content: space-between;
  width: 43px;
  height: 11px;
}
section#reviews .points .point {
  width: 11px;
  height: 11px;
  border-radius: 50px;
  border: 1.2px solid black;
  cursor: pointer;
}
section#reviews .points .passive {
  background-color: black;
}
section#reviews p {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
}

@media screen and (min-width: 576px) {
  section#reviews .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    width: inherit;
    height: 135px;
  }
  section#reviews .container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
  }
  section#reviews .container .mw576 {
    display: flex;
  }
  section#reviews .container .mw768 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  section#reviews {
    height: 600px;
    margin-top: 100px;
  }
  section#reviews h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    margin-bottom: 10px;
  }
  section#reviews p {
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
  }
  section#reviews .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 275px;
    gap: 7%;
  }
  section#reviews .container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 373px;
    height: inherit;
    background-color: black;
    border-radius: 15px;
  }
  section#reviews .container .card .review {
    width: inherit;
    height: 100%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 33px 33px;
  }
  section#reviews .container .card .review p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  section#reviews .container .card .stars {
    gap: 4px;
    height: 60px;
  }
  section#reviews .container .card .stars svg {
    width: 22px;
    height: 18px;
  }
  section#reviews .points {
    width: 86px;
    height: 20px;
  }
  section#reviews .points .point {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid black;
  }
}
footer {
  width: 100%;
}
footer .container {
  width: inherit;
}
footer .container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 473px;
  background-color: black;
  border-radius: 10px;
}
footer .container .card .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: inherit;
  height: 439px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 11px 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
footer .container .card .text .columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 384px;
}
footer .container .card .text .columns div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
footer .container .card .text .columns div a {
  color: black;
}
footer .container .card .text .columns div a img {
  width: 17px;
  height: 14px;
  margin-right: 10px;
}
footer .container .card .text .columns div a:hover {
  text-decoration: underline;
}
footer .container .card .text .columns div h1 {
  margin-bottom: 16px;
}
footer .container .card .text .columns .our-contacts {
  height: 114px;
}
footer .container .card .text .columns .info {
  height: 103px;
}
footer .container .card .text .columns .call-us {
  height: 97px;
}
footer .container .card .text .columns .call-us a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: red;
}
footer .container .card .text .columns .call-us .social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 148px;
  height: 35px;
  margin-top: 16px;
}
footer .container .card .text .columns .call-us .social-network a {
  width: 30px;
  height: 30px;
}
footer .container .card .text .columns .call-us .social-network a img {
  width: inherit;
  height: inherit;
}
footer .container .card .text .rules {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .container .card .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
footer .container .card .creator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 34px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@media screen and (min-width: 768px) {
  footer {
    width: 100%;
    margin-top: 70px;
  }
  footer .container {
    width: inherit;
  }
  footer .container .card {
    height: 473px;
    border-radius: 15px;
  }
  footer .container .card .text {
    height: 439px;
    border-radius: 15px;
    padding: 41px 55px;
    font-size: 16px;
    line-height: 19px;
  }
  footer .container .card .text .columns {
    flex-direction: row;
    width: 100%;
    height: 215px;
  }
  footer .container .card .text .columns div a img {
    width: 32px;
    height: 26px;
    margin-right: 15px;
  }
  footer .container .card .text .columns div h1 {
    margin-bottom: 16px;
  }
  footer .container .card .text .columns .our-contacts {
    height: inherit;
  }
  footer .container .card .text .columns .info {
    height: inherit;
  }
  footer .container .card .text .columns .call-us {
    height: 161px;
  }
  footer .container .card .text .columns .call-us a {
    font-size: 24px;
    line-height: 28px;
    color: red;
  }
  footer .container .card .text .columns .call-us .social-network {
    width: 213px;
    height: 35px;
    margin-top: 16px;
  }
  footer .container .card .text .columns .call-us .social-network a {
    width: 43px;
    height: 42px;
  }
  footer .container .card .creator {
    height: 62px;
    font-size: 16px;
    line-height: 19px;
  }
}
aside.open {
  display: flex !important;
  transform: translateX(-4.2%) !important;
  transition: 0.3s !important;
  width: 100% !important;
}

aside#mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  min-height: 100%;
  background-color: white;
  transform: translateX(-110%);
  /*Сдвиг влево на 100%*/
  transition: 0.3s;
  position: fixed;
  padding: 0 19px 19px 19px;
}
aside#mobile-menu section#header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
aside#mobile-menu section#header .icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 53px;
}
aside#mobile-menu section#header .icon img {
  width: 79px;
}
aside#mobile-menu section#header .icon .empty {
  width: 18px;
  height: 15px;
}
aside#mobile-menu section#header .icon button.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18px;
  height: 15px;
  background-color: white;
}
aside#mobile-menu section#header .icon button.burger-menu div {
  width: inherit;
  height: 2.85px;
  background-color: black;
  border-radius: 50px;
}
aside#mobile-menu section#header .search {
  width: 100%;
  height: 26px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 9px;
}
aside#mobile-menu section#header .search img {
  width: 18px;
  height: 18px;
}
aside#mobile-menu section.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 210px;
  margin-bottom: 230px;
}
aside#mobile-menu section.menu a {
  color: black;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
aside#mobile-menu section.menu hr {
  width: 100%;
  height: 1px;
  background-color: black;
}
aside#mobile-menu section#we {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 131px;
  height: 100px;
  margin-bottom: 150px;
}
aside#mobile-menu section#we .social-network {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 109px;
  height: 24px;
}
aside#mobile-menu section#we .social-network a {
  width: 24px;
  height: inherit;
}
aside#mobile-menu section#we .social-network a img {
  width: inherit;
  height: inherit;
}
aside#mobile-menu section#we a.delivery {
  display: block;
  color: black;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
aside#mobile-menu section#we a.phone-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 140px;
  height: 25px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
aside#mobile-menu section#we a.phone-number img {
  width: 25px;
}

@media screen and (min-width: 768px) {
  aside#mobile-menu {
    padding: 25px 50px 30px 50px;
  }
  aside#mobile-menu section#header {
    height: 100px;
  }
  aside#mobile-menu section#header .icon img {
    width: auto;
    height: 45px;
  }
  aside#mobile-menu section#header .empty {
    width: 18px;
    height: 15px;
  }
  aside#mobile-menu section#header button.burger-menu {
    width: 24px !important;
    height: 21px !important;
  }
  aside#mobile-menu section#header button.burger-menu div {
    width: inherit !important;
    height: 3px !important;
  }
  aside#mobile-menu section.menu {
    height: 260px;
    margin-bottom: 160px;
  }
  aside#mobile-menu section.menu a {
    font-size: 17px;
  }
  aside#mobile-menu section#we {
    width: 170px;
    height: 100px;
    margin-bottom: 150px;
  }
  aside#mobile-menu section#we .social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 145px;
    height: 30px;
  }
  aside#mobile-menu section#we .social-network a {
    width: 30px;
    height: inherit;
  }
  aside#mobile-menu section#we .social-network a img {
    width: inherit;
    height: inherit;
  }
  aside#mobile-menu section#we a.delivery {
    display: block;
    color: black;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
  }
  aside#mobile-menu section#we a.phone-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 170px;
    height: 25px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
  }
  aside#mobile-menu section#we a.phone-number img {
    width: 25px;
  }
}
@media screen and (min-width: 992px) {
  aside#mobile-menu {
    display: none !important;
  }

  aside#open {
    display: none !important;
  }
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

Ы * {
  box-size: border-box;
}

body {
  padding: 0 18px;
  color: white;
}

html {
  position: fixed;
}

html {
  overflow-x: hidden;
  position: relative;
  display: block;
}

@media screen and (min-width: 992px) {
  body {
    padding: 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    padding: 0 95px;
  }
}

/*# sourceMappingURL=index.css.map */
